h2{
  text-align: center;
  color: #1E8449;
}
h4{
  color: #1E8449;
}
h5{
  color: #2980B9;
}
.dates{
  margin: 25px;
  border-radius: 3px;
  text-align: center;
}
.label{
  color: #1E8449;
  text-align: center;
  display: flex;
  justify-content: left; 
}
.form {
  max-width: 500px;
  margin: 0 auto 100px;
  padding: 45px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.un{
  margin: 50px;
  justify-items: center;  
}
p {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  display: flex;
  text-transform: uppercase;
  background: #2980B9;
  width: 30%;
  border: 10px solid;
  padding: 6px;
  color: #FFFFFF;
  font-size: 10px;
  cursor: pointer;
  justify-content: center;
  justify-items: center;
}
select {
  max-width: 360px;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  background: #5c6664;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color:#fff;
  cursor:pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 15em;
  height: 2em;
  line-height: 2;
  background: #5c6664;
  overflow: hidden;
  border-radius: .25em;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: wheat;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.select:hover::after {
  color: #23b499;
}
#message{
  height: 80px;
  width: 450px;
}

