<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/questionnaire1.style.css">
    <link rel="stylesheet" href="../static/styles/questionnaire.style.css">
    <link rel="stylesheet" href="../static/styles/questionnairee.style.css">
    <link rel="stylesheet" href="../static/styles/pagination.style.css">
    <script async src="../static/scripts/scriptquestionnaire.js"></script>
</head>
<body>
    <!-- <h2>Bienvenue sur le site de ROROTHIER</h2> -->
    <div class="dates"><input  type="date"></div>
    
    <div class="form">
    <h4 class="label">Merci de bien vouloir remplir le formulaire suivant :</h4>

    <H4>Evaluation de satisfaction</h4>
    <h5>Vous et votre fonction, vos comptetences : </h5>
    <p>Quel est votre degré de motivation personnelle lorsque vous exercez ?</p>
        <div>
            <input type="range" value="1" min="0" max="10"/>
            <output id="rangevalue">1</output>
        </div>


        <div class="pagination_section">
            <a href="../templates/questionnaire1.html">1</a>
            <a href="../templates/questionnaire2.html">2</a>
            <a href="../templates/questionnaire3.html">3</a>
            <a href="../templates/questionnaire4.html">4</a>
            <a href="../templates/questionnaire5.html">5</a>
        </div>
    
    <button type="submit" href="#">Envoyer</button>
    
    </div>
    
</body>
</html>