<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionnaire</title>
    <!-- <link rel="stylesheet" href="./css/bootstrap.css"> -->
    <link rel="stylesheet" href="../static/styles/questionnaire.style.css">
</head>
<body>
  <h2>Bienvenue sur le site de ROROTHIER</h2>
  <div class="dates"><input  type="date"></div>
    
  <div class="form">
    <h4 class="label">Merci de bien vouloir remplir le formulaire suivant :</h4>

    <H4>Evaluation de satisfaction</h4>
    <h5>Vous et votre fonction, vos comptetences : </h5>
    <p>Avez-vous l’impression que votre travail contribue à l’effort de l’entreprise ?</p>
      <div class="select">
        <select  name="format" id="format">
          <option id="un" value="les_choix" selected="selected">Votre choix </option>
          <option valeur="tb">Toujours</option>
          <option valeur="b">Souvent</option>
          <option valeur="mb">Rarement</option>
          <option valeur="pb">Jamais</option>
        </select>
      </div>
    <p>Savez-vous exactement au sein de votre fonction en quoi votre effort contribue ?</p>
      <div class="select">
        <select name="bien_être">
          <option value="les_choix" selected="selected">Votre choix </option>
          <option>Toujours</option>
          <option>Souvent</option>
          <option>Rarement</option>
          <option>Jamais</option>
        </select>
      </div>
    <p>Quel aspect de votre respectez-vous le plus ?</p>
      <div class="select">
        <select name="bien_être">
          <option value="les_choix" selected="selected">Votre choix </option>
          <option>Toujours</option>
          <option>Souvent</option>
          <option>Rarement</option>
          <option>Jamais</option>
        </select>
      </div>
    <p>Les autres aspects vous paraissent-ils important ?</p>
      <div class="select">
        <select name="bien_être">
          <option value="les_choix" selected="selected">Votre choix </option>
          <option>Toujours</option>
          <option>Souvent</option>
          <option>Rarement</option>
          <option>Jamais</option>
        </select>
      </div>
    <p>Quel est votre degré de motivation personnelle lorsque vous exercez ?</p>
      <div class="select">
        <select name="bien_être">
          <option value="les_choix" selected="selected">Votre choix </option>
          <option>Fort</option>
          <option>Moyen</option>
          <option>Faible</option>
          <option>Aucune</option>
        </select>
      </div>
    <h5>Vous et votre entreprise : </h5>
    <p>Ressentez-vous un intérêt à être là et non ailleurs ?</p>
      <div class="select">
        <select name="bien_être">
          <option value="les_choix" selected="selected">Votre choix </option>
          <option>Fort</option>
          <option>Moyen</option>
          <option>Faible</option>
          <option>Aucun</option>
        </select>
      </div>
    <p>Vous sentez-vous bien dans votre entreprise ?</p>
      <div class="select">
        <select name="bien_être">
          <option value="les_choix" selected="selected">Votre choix </option>
          <option>Oui</option>
          <option>Non</option>
        </select>
      </div>
    <p>Êtes-vous fière de participer à son fonctionnement ?</p>
      <div class="select">
        <select name="bien_être">
          <option value="les_choix" selected="selected">Votre choix </option>
          <option>Beaucoup</option>
          <option>Un peu</option>
        </select>
      </div>
    <p>Sur quel moteur se construit votre motivation à exercer au sein de votre entreprise ?</p>
      <div class="select">
        <select name="bien_être">
          <option value="les_choix" selected="selected">Votre choix </option>
          <option>Financier</option>
          <option>Ambiance</option>
          <option>Réputation</option>
          <option>Management</option>
        </select>
      </div>
    <p>Comment jugez-vous la qualité de la relation avec vos supérieurs ?</p>
      <div class="select">
        <select name="bien_être">
          <option value="les_choix" selected="selected">Votre choix </option>
          <option>Fort</option>
          <option>Moyen</option>
          <option>Faible</option>
          <option>Aucun</option>
        </select>
      </div>
    <p>Pensez-vous que votre entreprise s’implique assez dans vos demandes et besoins de formation ?</p>
      <div class="select">
        <select name="bien_être">
          <option value="les_choix" selected="selected">Votre choix </option>
          <option>Toujours</option>
          <option>Souvent</option>
          <option>Rarement</option>
          <option>Jamais</option>
        </select>
      </div>
    <p>L’entreprise vous offre-t-elle la possibilité d’évolution et/ou de changement de carrière ?</p>
      <div class="select">
        <select name="bien_être">
          <option value="les_choix" selected="selected">Votre choix </option>
          <option>Toujours</option>
          <option>Souvent</option>
          <option>Rarement</option>
          <option>Jamais</option>
        </select>
      </div>
    <p>Que pensez-vous de la qualité de l’encadrement de votre équipe ?</p>
      <div class="select">
        <select name="bien_être">
          <option value="les_choix" selected="selected">Votre choix </option>
          <option>Très bon</option>
          <option>Satisfait</option>
          <option>Moyen</option>
          <option>Mauvais</option>
        </select>
      </div>
    <p>Vous sente-vous valorisé, récompensé, reconnu lors d’atteinte d’objectif ?</p>
      <div class="select">
        <select name="bien_être">
          <option value="les_choix" selected="selected">Votre choix </option>
          <option>Toujours</option>
          <option>Souvent</option>
          <option>Rarement</option>
          <option>Jamais</option>
        </select>
      </div>
    <h5>Vous et l'équipe : </h5>
    <p>Avez-vous le sentiment que vos collègues interfèrent dans l’accomplissement de votre travail ?</p>
      <div class="select">
        <select name="bien_être">
          <option value="les_choix" selected="selected">Votre choix </option>
          <option>Toujours</option>
          <option>Souvent</option>
          <option>Rarement</option>
          <option>Jamais</option>
        </select>
      </div>
    <p>L’entreprise favorise-t-elle les échanges en son sein ?</p>
      <div class="select">
        <select name="bien_être">
          <option value="les_choix" selected="selected">Votre choix </option>
          <option>Oui</option>
          <option>Non</option>
        </select>
      </div>  
    <p>Si non, quelle en est la cause ?</p>
      <div class="select">
        <select name="bien_être">
          <option value="les_choix" selected="selected">Votre choix </option>
          <option>Dispersion géographique</option>
          <option>Désintérêt</option>
        </select>
      </div>  
    <p>Si ces échanges vous intéressent, y’a-t-il assez de moments dédiés à cet effet ?</p>
      <div class="select">
        <select name="bien_être">
          <option value="les_choix" selected="selected">Votre choix </option>
          <option>Toujours</option>
          <option>Souvent</option>
          <option>Rarement</option>
          <option>Jamais</option>
        </select>
      </div>
    <p>Pensez-vous que la Direction approuve la communication et les mises au point entre vous ?</p>
      <div class="select">
        <select name="bien_être">
          <option value="les_choix" selected="selected">Votre choix </option>
          <option>Toujours</option>
          <option>Souvent</option>
          <option>Rarement</option>
          <option>Jamais</option>
        </select>
      </div>      
    <h5>Que souhaitez-vous voir ameliorer dans votre travail</h5>
      <textarea id="message" placeholder="votre message" required></textarea>

    <button type="submit" href="#">Envoyer</button>
  </div>


</body>
</html>

