<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css/questionnaire1.style.css">
    <link rel="stylesheet" href="./style.css/questionnaire.style.css">
    <link rel="stylesheet" href="./style.css/questionnairee.style.css">
    <link rel="stylesheet" href="./style.css/pagination.style.css">
    <script async src="./scripte/scriptquestionnaire.js"></script>
</head>
<body>
    
    <div class="dates"><input  type="date"></div>
    
    <div class="form">
    <h4 class="label">Merci de bien vouloir remplir le formulaire suivant :</h4>

    <H4>Evaluation de satisfaction</h4>
    <h5>Vous et votre entreprise : </h5>
    <p>Ressentez-vous un intérêt à être là et non ailleurs ?</p>
        <div>
            <input type="range" value="1" min="0" max="10"/>
            <output id="rangevalue">1</output>
        </div>

        <div class="pagination_section">
            <a href="questionnaire1_1.html">1</a>
            <a href="./questionnaire2_1.html">2</a>
            <a href="./questionnaire3_1.html">3</a>
            <a href="./questionnaire4_1.html">4</a>
            <a href="./questionnaire5_1.html">5</a>
        </div>
    
    </div>

</body>
</html>